$color-primary: crimson;
body {
    .splash {
        display: flex;
        font-weight: 200;
        visibility: visible;
        color: $color-primary;
        font-size: 3rem;
        background-color: $color-primary;
    }
    h3 {
        font-family: 'Open Sans';
    }
    h4 {
        font-weight: 400;
    }
    h5 {
        font-size: 2em;
    }
    h6 {
        font-size: 1em;
    }
}